.page {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
      140.51deg,
      #5bbea4 -6.5%,
      #272b49 -6.5%,
      #272d49 -6.5%,
      #5dc0a8 -6.5%,
      rgba(115, 78, 145, 0.3) 48.85%,
      #c14d70 114.2%,
      rgba(76, 114, 152, 0) 114.2%
    ),
    linear-gradient(
      140.51deg,
      #00ffbc -6.5%,
      #272b49 -6.5%,
      #272d49 -6.5%,
      #5dc0a8 -6.5%,
      #00ffc1 -6.5%,
      #6a9d94 46.27%,
      #7d8c8d 71.62%,
      #ab6279 100.23%,
      #c14d70 114.2%,
      rgba(76, 114, 152, 0) 114.2%
    ),
    linear-gradient(
      140.51deg,
      #00ffbc -6.5%,
      #272b49 -6.5%,
      #272d49 -6.5%,
      #5dc0a8 -6.5%,
      #00ffc1 -6.5%,
      #6a9d94 46.27%,
      #7d8c8d 71.62%,
      #ab6279 100.23%,
      #c14d70 114.2%,
      rgba(76, 114, 152, 0) 114.2%
    ),
    linear-gradient(
      140.51deg,
      #00ffbc -6.5%,
      #272b49 -6.5%,
      #272d49 -6.5%,
      #5dc0a8 -6.5%,
      #00ffc1 -6.5%,
      #6a9d94 46.27%,
      #7d8c8d 71.62%,
      #ab6279 100.23%,
      #c14d70 114.2%,
      rgba(76, 114, 152, 0) 114.2%
    );
}

.sideBar {
  position: sticky;
  top: 0px;
  width: calc((100vw - 800px) * 0.45);
  border-right: 1px solid rgb(63, 63, 63);
  color: white;
  height: 100vh;
}

.rightBar {
  position: sticky;
  top: 0px;
  width: calc((100vw - 800px) * 0.55);
  border-left: 1px solid rgb(63, 63, 63);
  color: white;
  height: 100vh;
}

.mainWindow {
  width: 800px;
}

/* Text Field */
.sc-fWIMVQ {
  background-color: transparent !important;
  border-right: 0px !important;
  border-top: 0px !important;
  border-left: 0px !important;
  border-radius: 0px !important;
  border-bottom: 1px solid rgb(63, 63, 63) !important;
  color: white !important;
  height: 90px !important;
}

/* Text Area */
.sc-jWEIYm {
  color: white !important;
  fill: white !important;
  font-size: 20px !important;
  height: 10px !important;
}

.rdMZu {
  min-height: 90px !important;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none !important;
  height: 0px !important;
}

.logout {
  display: flex;
  justify-content: end;
  margin-right: 100px;
  font-weight: bold;
}

.logout:hover {
  background: linear-gradient(
      140.51deg,
      rgba(91, 190, 164, 0.25) -6.5%,
      rgba(39, 43, 73, 0.25) -6.5%,
      rgba(39, 45, 73, 0.25) -6.5%,
      rgba(93, 192, 168, 0.25) -6.5%,
      rgba(115, 78, 145, 0.075) 48.85%,
      rgba(193, 77, 112, 0.25) 114.2%,
      rgba(76, 114, 152, 0) 114.2%
    ),
    linear-gradient(
      140.51deg,
      rgba(0, 255, 188, 0.25) -6.5%,
      rgba(39, 43, 73, 0.25) -6.5%,
      rgba(39, 45, 73, 0.25) -6.5%,
      rgba(93, 192, 168, 0.25) -6.5%,
      rgba(0, 255, 193, 0.25) -6.5%,
      rgba(106, 157, 148, 0.25) 46.27%,
      rgba(125, 140, 141, 0.25) 71.62%,
      rgba(171, 98, 121, 0.25) 100.23%,
      rgba(193, 77, 112, 0.25) 114.2%,
      rgba(76, 114, 152, 0) 114.2%
    ),
    linear-gradient(
      140.51deg,
      rgba(0, 255, 188, 0.25) -6.5%,
      rgba(39, 43, 73, 0.25) -6.5%,
      rgba(39, 45, 73, 0.25) -6.5%,
      rgba(93, 192, 168, 0.25) -6.5%,
      rgba(0, 255, 193, 0.25) -6.5%,
      rgba(106, 157, 148, 0.25) 46.27%,
      rgba(125, 140, 141, 0.25) 71.62%,
      rgba(171, 98, 121, 0.25) 100.23%,
      rgba(193, 77, 112, 0.25) 114.2%,
      rgba(76, 114, 152, 0) 114.2%
    ),
    linear-gradient(
      140.51deg,
      rgba(0, 255, 188, 0.25) -6.5%,
      rgba(39, 43, 73, 0.25) -6.5%,
      rgba(39, 45, 73, 0.25) -6.5%,
      rgba(93, 192, 168, 0.25) -6.5%,
      rgba(0, 255, 193, 0.25) -6.5%,
      rgba(106, 157, 148, 0.25) 46.27%,
      rgba(125, 140, 141, 0.25) 71.62%,
      rgba(171, 98, 121, 0.25) 100.23%,
      rgba(193, 77, 112, 0.25) 114.2%,
      rgba(76, 114, 152, 0) 114.2%
    );
  font-weight: bold;
  cursor: pointer;
}

.loginPage {
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
