.siderContent {
  padding-top: 20px;
  padding-right: 90px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 85vh;
  align-items: end;
}

.details {
  display: flex;
  padding: 10px;
  gap: 14px;
  justify-content: start;
  align-items: center;
  text-decoration: none !important;
}

.menuItems {
  display: flex;
  justify-content: start;
  gap: 14px;
  margin-top: 20px;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
  border-radius: 1000px;
  color: white !important;
  text-decoration: none !important;
}

.menuItems:hover {
  cursor: pointer;
  background: linear-gradient(
      140.51deg,
      rgba(91, 190, 164, 0.25) -6.5%,
      rgba(39, 43, 73, 0.25) -6.5%,
      rgba(39, 45, 73, 0.25) -6.5%,
      rgba(93, 192, 168, 0.25) -6.5%,
      rgba(115, 78, 145, 0.075) 48.85%,
      rgba(193, 77, 112, 0.25) 114.2%,
      rgba(76, 114, 152, 0) 114.2%
    ),
    linear-gradient(
      140.51deg,
      rgba(0, 255, 188, 0.25) -6.5%,
      rgba(39, 43, 73, 0.25) -6.5%,
      rgba(39, 45, 73, 0.25) -6.5%,
      rgba(93, 192, 168, 0.25) -6.5%,
      rgba(0, 255, 193, 0.25) -6.5%,
      rgba(106, 157, 148, 0.25) 46.27%,
      rgba(125, 140, 141, 0.25) 71.62%,
      rgba(171, 98, 121, 0.25) 100.23%,
      rgba(193, 77, 112, 0.25) 114.2%,
      rgba(76, 114, 152, 0) 114.2%
    ),
    linear-gradient(
      140.51deg,
      rgba(0, 255, 188, 0.25) -6.5%,
      rgba(39, 43, 73, 0.25) -6.5%,
      rgba(39, 45, 73, 0.25) -6.5%,
      rgba(93, 192, 168, 0.25) -6.5%,
      rgba(0, 255, 193, 0.25) -6.5%,
      rgba(106, 157, 148, 0.25) 46.27%,
      rgba(125, 140, 141, 0.25) 71.62%,
      rgba(171, 98, 121, 0.25) 100.23%,
      rgba(193, 77, 112, 0.25) 114.2%,
      rgba(76, 114, 152, 0) 114.2%
    ),
    linear-gradient(
      140.51deg,
      rgba(0, 255, 188, 0.25) -6.5%,
      rgba(39, 43, 73, 0.25) -6.5%,
      rgba(39, 45, 73, 0.25) -6.5%,
      rgba(93, 192, 168, 0.25) -6.5%,
      rgba(0, 255, 193, 0.25) -6.5%,
      rgba(106, 157, 148, 0.25) 46.27%,
      rgba(125, 140, 141, 0.25) 71.62%,
      rgba(171, 98, 121, 0.25) 100.23%,
      rgba(193, 77, 112, 0.25) 114.2%,
      rgba(76, 114, 152, 0) 114.2%
    );
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
