.feedTweet {
  max-width: 100%;
  border-bottom: 1px solid rgb(63, 63, 63);
  padding: 20px;
  color: white;
  justify-content: space-between;
  display: flex;
}

.feedTweet:hover {
  background: linear-gradient(
      140.51deg,
      rgba(91, 190, 164, 0.25) -6.5%,
      rgba(39, 43, 73, 0.25) -6.5%,
      rgba(39, 45, 73, 0.25) -6.5%,
      rgba(93, 192, 168, 0.25) -6.5%,
      rgba(115, 78, 145, 0.075) 48.85%,
      rgba(193, 77, 112, 0.25) 114.2%,
      rgba(76, 114, 152, 0) 114.2%
    ),
    linear-gradient(
      140.51deg,
      rgba(0, 255, 188, 0.25) -6.5%,
      rgba(39, 43, 73, 0.25) -6.5%,
      rgba(39, 45, 73, 0.25) -6.5%,
      rgba(93, 192, 168, 0.25) -6.5%,
      rgba(0, 255, 193, 0.25) -6.5%,
      rgba(106, 157, 148, 0.25) 46.27%,
      rgba(125, 140, 141, 0.25) 71.62%,
      rgba(171, 98, 121, 0.25) 100.23%,
      rgba(193, 77, 112, 0.25) 114.2%,
      rgba(76, 114, 152, 0) 114.2%
    ),
    linear-gradient(
      140.51deg,
      rgba(0, 255, 188, 0.25) -6.5%,
      rgba(39, 43, 73, 0.25) -6.5%,
      rgba(39, 45, 73, 0.25) -6.5%,
      rgba(93, 192, 168, 0.25) -6.5%,
      rgba(0, 255, 193, 0.25) -6.5%,
      rgba(106, 157, 148, 0.25) 46.27%,
      rgba(125, 140, 141, 0.25) 71.62%,
      rgba(171, 98, 121, 0.25) 100.23%,
      rgba(193, 77, 112, 0.25) 114.2%,
      rgba(76, 114, 152, 0) 114.2%
    ),
    linear-gradient(
      140.51deg,
      rgba(0, 255, 188, 0.25) -6.5%,
      rgba(39, 43, 73, 0.25) -6.5%,
      rgba(39, 45, 73, 0.25) -6.5%,
      rgba(93, 192, 168, 0.25) -6.5%,
      rgba(0, 255, 193, 0.25) -6.5%,
      rgba(106, 157, 148, 0.25) 46.27%,
      rgba(125, 140, 141, 0.25) 71.62%,
      rgba(171, 98, 121, 0.25) 100.23%,
      rgba(193, 77, 112, 0.25) 114.2%,
      rgba(76, 114, 152, 0) 114.2%
    );
}

.completeTweet {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
  width: 89%;
  gap: 10px;
}

.interactions {
  margin-top: 10px;
  display: flex;
  justify-content: start;
  gap: 150px;
}

.interactionNums {
  color: #3f3f3f;
  display: flex;
  justify-content: start;
  gap: 10px;
  padding: 10px;
  border-radius: 1000px;
}

.interactionNums:hover {
  cursor: pointer;
  background-color: #1da0f20b;
}

.who {
  display: flex;
  gap: 10px;
  font-weight: 600;
  align-items: center;
}

.accWhen {
  font-size: 15px;
  font-weight: 400;
  color: gray;
}

.tweetContent {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
}

.tweetImg {
  width: 98%;
  border-radius: 10px;
}
